h2 { font-family: ChunkFiveRegular, Georgia, serif;
    color: #05FCC3; 
    text-align: center;   
}
.clear {
  clear:both;
}
.theory {
    
    
}
header {
    font-family: 'Amatic SC', cursive;
    display: inline;
    margin-right: 10px;
}
.col-xs-4 {
    padding: 10px;
}